* {
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --sky: linear-gradient(120deg, #A1C4FD 0%, #C2E9FB 100%);
}

h1 {
    font-size: 2.25rem;
}

h3 {
    font-weight: 600;
    margin: 0.75rem 0;
    text-align: center;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

nav .fa {
    display: none;
}

nav .logo a {
    font-size: 20px;
    font-weight: 700;
}

nav .logo a i {
    color: #F44336;
}

p {
    color: #777;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.4rem;
    padding: 0.6rem;
}

.btn {
    background: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 0.8rem 2rem;
    position: relative;
    text-decoration: none;
    transition: 0.5s;
}

.btn:hover {
    border: 1px solid #F44336;
    background: #F44336;
}

.campus {
    margin: auto;
    padding-top: 6rem;
    text-align: center;
    width: 80%;
}

.campus-column {
    border-radius: 0.8rem;
    flex-basis: 32%;
    margin-bottom: 1.8rem;
    overflow: hidden;
    position: relative;
}

.campus-column img {
    display: block;
    width: 100%;
}

.course-column {
    background: #FFF3F3;
    border-radius: 0.8rem;
    box-sizing: border-box;
    flex-basis: 31%;
    margin-bottom: 5%;
    padding: 1.3rem 0.7rem;
    transition: 0.5s;
}

.course-column:hover {
    background: #FFE3E3;
}

.courses {
    margin: auto;
    padding-top: 6rem;
    text-align: center;
    width: 80%;
}

.facilities {
    margin: auto;
    padding-top: 6rem;
    text-align: center;
    width: 80%;
}

.facilities-column {
    border-radius: 0.8rem;
    flex-basis: 31%;
    margin-bottom: 5%;
}

.facilities-column img {
    border-radius: 0.8rem;
    width: 100%;
}

.facilities-column p {
    padding: 0;
}

.facilities-column h3 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.home {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('./assets/banner-1.png');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.layer {
    background: rgba(226, 0, 0, 0);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s ease;
    width: 100%;
    z-index: 100;
}

.layer:hover {
    background: rgba(226, 0, 0, 0.7);
}

.layer h3 {
    bottom: 0;
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
    left: 50%;
    opacity: 0;
    position: absolute;
    transform: translateX(-50%);
    transition: 0.4s;
    width: 100%;
}

.layer:hover h3 {
    bottom: 50%;
    opacity: 1;
}

.nav-links {
    flex: 1;
    text-align: right;
    transition: right 0.5s ease;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 0.5rem 1rem;
    position: relative;
    text-transform: uppercase;
}

.nav-links ul li::after {
    content: '';
    width: 0;
    height: 0.1rem;
    background: #F44336;
    display: block;
    margin: auto;
    transition: 0.15s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 2.25rem;
}

.text-box p {
    color: white;
    font-size: 0.9rem;
    margin: 0.5rem 0 2rem;
}

@media (max-width: 705px) {
    nav .fa {
        color: white;
        cursor: pointer;
        display: block;
        font-size: 1.25rem;
        margin: 1rem;
    }
    
    .nav-links {
        background: #F44336;
        height: 100vh;
        position: absolute;
        right: -12.5rem;
        text-align: left;
        top: 0;
        width: 200px;
        z-index: 2;
    }
    
    .nav-links ul {
        padding: 1.75rem;
    }

    .nav-links ul li {
        display: block;
    }
    
    .row {
        flex-direction: column;
    }

    .text-box h1 {
        font-size: 1.75rem;
    }
}